.game {
  margin: 30px;
  display: flex;
}

.game > *:not(:last-child) {
  margin-right: 20px;
}

.board {
  position: relative;
  padding: $board-padding;
  border-radius: $board-border-radius;
  background-color: $white;
}

.board-row {
  display: flex;
  justify-content: center;
}

.block-part {
  width: 26px;
  height: 26px;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  flex: 0 0 auto;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.board-row:first-child .block-part {
  border-top: 1px solid $light-gray;
}

.block-part:first-child {
  border-left: 1px solid $light-gray;
}

.block-part:not(.block-part--nil) {
  box-shadow: inset 1px 1px 1px rgba(white, 0.5), inset -1px -1px 1px rgba(black, 0.5);
}

.block-part--o {
  background-image: url('/images/tile2.svg');
}

.block-part--i {
  background-image: url('/images/tile3.svg');
}

.block-part--t {
  background-image: url('/images/tile4.svg');
}

.block-part--j {
  background-image: url('/images/tile5.svg');
}

.block-part--l {
  background-image: url('/images/tile6.svg');
}

.block-part--z {
  background-image: url('/images/tile1.svg');
}

.block-part--s {
  background-image: url('/images/tile7.svg');
}

.panel h1 {
  margin-top: 0;
  white-space: nowrap;
}

.panel-box {
  margin: 20px 0;
  width: 100%;
  border-radius: $board-border-radius;
  background-color: $white;
}

.panel-box:last-child {
  margin-bottom: 0;
}

.panel-box-title {
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px 10px;
  margin: 0;
}

.panel-box-content {
  padding: 5px 10px;
  text-align: center;

  .board {
    padding: 10px 0;
  }
}

.lines, .score, .level {
  font-size: 1.5em;
}
