body {
  font-family: "Roboto", "Helvetica", sans-serif;
}

.game {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.game > *:not(:last-child) {
  margin-right: 20px;
}

.board {
  position: relative;
}

.board-row {
  display: flex;
  justify-content: center;
}

.block-part {
  width: 3vh;
  height: 3vh;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  flex: 0 0 auto;
}

.board-row:first-child .block-part {
  border-top: 1px solid #d3d3d3;
}

.block-part:first-child {
  border-left: 1px solid #d3d3d3;
}

.block-part--o {
  background-color: yellow;
}

.block-part--i {
  background-color: red;
}

.block-part--t {
  background-color: cyan;
}

.block-part--j {
  background-color: blue;
}

.block-part--l {
  background-color: orange;
}

.block-part--z {
  background-color: green;
}

.block-part--s {
  background-color: magenta;
}

.panel h1 {
  margin-top: 0;
}

.panel-left {
  display: flex;
  flex-direction: row;
  align-content: end;
  align-items: end;
}

.panel-box {
  border: 1px solid #d3d3d3;
  margin: 20px 0;
  width: 100%;
}

.panel-box:last-child {
  margin-bottom: 0;
}

.panel-box-title {
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px;
  border-bottom: 1px solid #d3d3d3;
}

.panel-box-content {
  padding: 10px;
}
