.board {
  margin: 0 auto;
}

.board-row {
  display: flex;
  justify-content: center;
}

.block-part {
  width: 20px;
  height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  flex: 0 0 auto;
}

.board-row:first-child .block-part {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.block-part:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.block-part--o {
  background-color: yellow;
}

.block-part--i {
  background-color: red;
}

.block-part--t {
  background-color: cyan;
}

.block-part--j {
  background-color: blue;
}

.block-part--l {
  background-color: orange;
}

.block-part--z {
  background-color: green;
}

.block-part--s {
  background-color: magenta;
}
