$overlay-background-color: rgba(255, 255, 255, 0.7);

$white: #ffffff;
$keyboard-gray: #f0f0f0;
$light-gray: #d3d3d3;
$text-color: #081f35;
$dark-blue: #0d4c85;
$blue: #71aeca;
$light-blue: #eaf6fc;
$beige: #efe7d0;
$wine: #a52137;
$yellow: #f4cd58;

$board-padding: 20px;
$board-border-radius: 10px;
$keyboard-width: 40px;
