.controls {
  display: grid;
  text-align: center;
  grid-template-columns: calc(50% - #{$keyboard-width} * 1.5) $keyboard-width $keyboard-width $keyboard-width calc(50% - #{$keyboard-width} * 1.5);
  grid-template-rows: 1fr 1fr 1fr 1.3fr 1fr 1fr 1.3fr 1fr 1.3fr 1fr
}

.controls > * {
  margin-bottom: 5px;
}

.label {
  height: 20px;
  line-height: 20px;
}

.label.left, .label.right, .label.rotate {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.label.rotate {
  grid-column-start: 2;
  grid-column-end: 5;
}

.key.up {
  grid-row-start: 2;
  grid-column: 3;
}

.label.left {
  grid-row: 3;
  grid-column: 1;
}

.key.left {
  grid-row: 3;
  grid-column: 2;
}

.key.down {
  grid-row: 3;
  grid-column: 3;
}

.key.right {
  grid-row: 3;
  grid-column: 4;
}

.label.right {
  grid-row: 3;
  grid-column: 5;
}

.label.down {
  grid-row: 4;
  grid-column-start: 2;
  grid-column-end: 5;
}

.key.space {
  grid-row: 6;
  grid-column-start: 2;
  grid-column-end: 5;
}

.label.space {
  grid-row: 7;
  grid-column-start: 2;
  grid-column-end: 5;
}

.key.pause {
  grid-row: 8;
  grid-column-start: 3;
  grid-column-end: 4;
}

.label.pause {
  grid-row: 9;
  grid-column-start: 2;
  grid-column-end: 5;
}
